@import "./variables.scss";

.btn {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  line-height: 1.5;
  display: inline-flex;

  &:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    pointer-events: all;
  }

  &--primary {
    color: $white;
    background-color: $primary;

    &:hover, &:active, &:focus{
      background-color: darken($primary, 10%);
    }

    &:disabled {
      background-color: $white;
      border-color: $primary;
      color: $primary;
    }
  }
  
  &--bold {
    font-weight: $bold;
  }
}

