@import "./variables.scss";
.card {
  max-width: 380px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.card__portrait {
  max-height: 20rem;
}

.card__portrait__image{
  object-fit: contain;
  width: 100%;
}

.card__body {
  background: rgb(255, 255, 255);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card__title {
  font-family: "Merriweather", serif;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.card__description {
  font-size: 1rem;
}

.card__footer {
  background: rgb(255, 255, 255);
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid $body-bg;
}

.card__caption--number {
  font-size:1.4rem;
}

.card__caption--text {
  font-size:1.2rem;
}

.card__price {
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%, -50%)
}