@import "./variables.scss";

.card {
  max-width: 380px;
}

.card__portrait {
  max-height: 18rem;
}

.card__portrait__image{
  object-fit: contain;
  width: 100%;
}

.card__body {
  background: $white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.card__title {
  font-family: "Merriweather", serif;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: $heading-color;
}

.card__description {
  font-size: 0.9rem;
  line-height: 1.8;
}

.card__footer {
  background: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid $border-color;
  color: $text-color;
  line-height: 1;
  padding: 0.8rem 0;
}

.card__caption-number {
  font-size:1.2rem;
  font-weight: bold;
}

.card__caption-text {
  font-size:1rem;
}

.card__price {
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%, -50%)
}