@import "./variables.scss";

body {
  background-color: $body-bg;
  color: $text-color;
}

.container {
  max-width: 1200px;
  width: 80vw;
  margin:0 auto;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  padding: 2.4rem 1.6rem 2.8rem;
}