
$white:#fff;
$light-grey:#ebebeb;
$dark-blue:#00072a;
$dark-grey:#4b4b4b;
$orange:#f68b1f;

$primary: $orange;
$text-color: $dark-grey;
$heading-color: $dark-blue;
$body-bg: $light-grey;
$border-color:  $light-grey;

$padding-page-x: 2rem;

$font-family: "Montserrat", sans-serif;
$line-height: 1.5;
$bold: 900;
$font-weight: 500;