
$white:#FAFAF3;
$grey:#CCCCCC;
$light-grey:#F5F6EE;
$dark-grey:#292929;
$primary:#E9C13B;

$border-color: $dark-grey;
$text-color: $dark-grey;
$body-bg:$light-grey;
$page-bg:$white;

$radius: 1rem;
$padding-page-x: 2rem;

$font-family:Arial, Helvetica, sans-serif;
$line-height: 1.5;
$bold: 600;
$font-weight: 500;